<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Oven_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Oven_Application.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedStoreName" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedMachineName" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialBaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterBaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterExist" serializeAs="String">
                <value>False</value>
            </setting>
        </Oven_Application.Properties.Settings>
    </userSettings>
</configuration>